node_modules/
frontend/node_modules/
frontend/dist/

build/
dist/
dist-backend/
release/
*.spec

backend/uploads/*
backend/outputs/*
backend/projects/*.json
backend/argos/

historial/*.db
*.log

__pycache__/
*.pyc
.venv/
venv/
.tools/
